{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Bienvenido a la gestión de partituras</h1>
    <p class="text-center">Aquí puedes gestionar tu colección de partituras musicales.</p>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Opciones</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'task_completed' %}" class="btn btn-primary w-100">Ver tareas completadas</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'tasks' %}" class="btn btn-primary w-100">Ver tareas pendientes</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'create_task' %}" class="btn btn-success w-100">Crear nueva tarea</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}